.dflex-row {
  display: flex;
}

.dflex-alignCenter {
  align-items: center;
}

.dflex-flexend-center {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.dflex-center-spaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.dflex-column-alignCenter-justifyCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dflex-column-alignLeft-justifyCenter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.dflex-column-alignCenter-justifyFlexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.dflex-row-wrap-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.dflex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
