.custom-button {
    border: 2px solid #f15025;      /* Orange border */
    color: black;                  /* Black text */
    background-color: transparent; /* Transparent background */
    font-weight: bold;             /* Bold text */
    transition: background-color 0.3s, color 0.3s;  /* Smooth transition */
  }
  
  .custom-button:hover {
    border: 2px solid #f15025;
    background-color: #f15025;      /* Orange background on hover */
    color: white;                  /* White text on hover */
  }

  .custom-multi-select {
    display: none; /* Ẩn dropdown gốc */
  }
  
/* Tag Selection */

  .tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .tag-button {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #f8f9fa;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .tag-button .tag-icon {
    margin-right: 8px;
  }
  
  .tag-button.selected {
    background-color: #f15025;
    color: #fff;
    border-color: #f15025;
  }
  
  .tag-button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
  
  .tag-button:hover:not(:disabled) {
    background-color: #e2e6ea;
  }