// Importing styles using @use
@use './Slide';
@use './LoadingPage';

// Global styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    background: #ededed;
}
