@use './Components/Slide';
@use './Components/LoadingPage';
@use './Components/popUpWindow';
@import url("https://fonts.cdnfonts.com/css/countryside");
html {
  scroll-behavior: smooth;
}
:root {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
    --primary-color: #012138;
    --secondary-color: #f9f9f9;
    --gradient-color: #024d83;
    --light-color: #fff;
    --main-font: "Roboto", arial, helvetica, sans-serif;
    --title-font: "Countryside", sans-serif;
    --layout-max-width: 1350px;
}

body {
    font-size  : 16px;
    margin     : 0;
    font-family: var(--main-font);
    background :
        radial-gradient(ellipse farthest-corner at center top,
            var(--gradient-color) 0%,
            var(--primary-color) 100%);
    min-height: 100vh;
}

.fade-in {
    opacity   : 1;
    transition: opacity 0.5s ease-in;
}

.opacity-0 {
    opacity: 0;
}
.card {
    background-color: var(--light-color);
    padding: 1rem;
    margin: 40px 2% 2% 2%;
    width: 300px;
    border: 2px solid #dfe1e6;
    border-radius: 24px;
  }