@use './Components/Slide';
@use './Components/LoadingPage';
@import url("https://fonts.cdnfonts.com/css/countryside");
html {
  scroll-behavior: smooth;
}
:root {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
    --primary-color: #000000;
    --secondary-color: #eeeeee;
    --gradient-color: #ffffff;
    --light-color: #fff;
    --title-font: "Countryside", sans-serif;
    --layout-max-width: 1350px;
}

body {
    font-size  : 16px;
    margin     : 0;
    // background :
    //     radial-gradient(ellipse farthest-corner at center center,
    //         var(--gradient-color) 80%,
    //         var(--primary-color) 100%);
    background : var(--secondary-color);
    min-height: 100vh;
}

.fade-in {
    opacity   : 1;
    transition: opacity 0.5s ease-in;
}

.opacity-0 {
    opacity: 0;
}
